@use "variables" as v;

$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    font-size: v.$font-size-xs;
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    font-size: v.$font-size-sm;
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    font-size: v.$font-size-md;
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    font-size: v.$font-size-lg;
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    font-size: v.$font-size-xl;
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}
