@use "styles" as s;

$cardHeight: 500px;
$cardWidth: 250px;
$numberOfCol: 2;
$numberOfRows: 6;

.card-title {
  color: map-get($map: s.$colors, $key: "white");
  text-align: center;
  width: $cardWidth;
  overflow: auto;
  scrollbar-width: none;
  height: 2ch;
  margin-bottom: s.$base-margin;
  &::-webkit-scrollbar {
    display: none;
  }
}

.anime-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  height: $cardHeight;
  width: $cardWidth;
  border-radius: s.$base-border-radius;
  font-weight: 300;
}
